{% extends "runRTemplate.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h3> Runner </h3>
            <form name="Item_1" method='POST'>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Colors</label>
                    </div>
                    <select class="custom-select"  id="inputGroupSelect01" name="thisColor" method="POST">
                        <option value="{{colours[0]}}" selected>{{colours[0]}}</option>
                        {% for colour in colours[1:] %}
                        <option value="{{colour}}">{{colour}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-sm bg-danger">Done!</button>
            </form>

            {% if selColor %}
                Selected color is {{selColor}}
            {% endif %}
            <br>
            {% if statusPageLink %}
                Check status of the tasks: click  <a href="{{ url_for('runRStatus') }}">here</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}