{% extends "runRTemplate.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Geohazard validation: Job Status</h2>
            <br>

            <h6>Displaying details for last: <form method='POST' style="display: inline-block">
                <select name="thisGeohaz" method="POST">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <button type="submit" class="btn btn-sm">Go</button>
            </form> runs</h6>
            <br>
            {% if tasks_ %}
            <div id="jobs">
                <table class="table table-sm">
                    <tr>
                        <th scope="row" class="bg-danger text-white">Job Id</th>
                        <th scope="row" class="bg-danger text-white">Server</th>
                        <th scope="row" class="bg-danger text-white">Database</th>
                        <th scope="row" class="bg-danger text-white">Jub submission time</th>
                        <th scope="row" class="bg-danger text-white">Job status</th>
                        <th scope="row" class="bg-danger text-white">Report</th>
                    </tr>
                    {% for task in tasks_ %}
                        <tr>
                            <td>{{task[0]}}</td>
                            <td>{{task[1]}}</td>
                            <td>{{task[2]}}</td>
                            <td>{{task[3]}}</td>
                            <td>{{task[4]}}</td>
                            <td>
                                {% if task[4]== "SUCCESS" %}
                                    <a href="{{ url_for('getGVReport', rep_name=task[5]) }}">{{task[5]}}</a>
                                {% else %}
                                    {{task[5]}}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script>

setTimeout(function(){
   window.location.reload(1);
}, 5000);

    <!--function autoRefresh_div() {-->
    <!--$("#jobs").load("load.html");-->
<!--}-->
<!--setInterval(autoRefresh_div, 5000); // every 5 seconds-->
<!--autoRefresh_div();-->

</script>
{% endblock %}