{% extends "runRTemplate.html" %}
{% block morehead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <style>
        ul {list-style-type: none;}
    </style>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method='POST' enctype="multipart/form-data">
                <h4>Run MTH</h4>
                <p>
                    <label for="testName">Test Name</label>
                    <input type="text" name="testName">
                </p>
                <p>
                    <input type="radio" name="options" id="Yes" value="yes" checked="checked"> Yes <br>
                    <input type="radio" name="options" id="No" value="no"> No <br>
                </p>
                <p>
                    <input type='file' class="form-control-file" name='file' multiple>
                    <input type='submit' value='upload'>
                </p>
                <!--<p>-->
                    <!--<div id="dropzone">-->
                        <!--<form action="" class="dropzone dz-clickable" id="demo-upload">-->
                            <!--<div class="dz-message">Drop files here or click to upload.-->
                                <!--<br> <span class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>-->

                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<input type='submit' value='upload'>-->
                <!--</p>-->
            </form>

            {% if msg %}
                <p> Message: {{ msg }} </p>
                <p> Downloaded File: {{ dFname }} </p>
                <a href="{{ url_for('download', filename=dFname) }}">FileDownload</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
