<!doctype html>
<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    {% block morehead %}{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if title %}
        <title>{{ title }} - runR</title>
    {% else %}
        <title>Welcome to runR</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        ul {list-style-type: none;}
        .container {
              font-family: 'Avenir', Helvetica, Arial, sans-serif;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              color: #2c3e50;
            }
}
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg" style="background-color: #99000D;">
    <a class="navbar-brand" href="/" style="color: white"><img src="/static/flask.png" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/runR" style="color: white">runR <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rlr"  style="color: white">runRLR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getVulns"  style="color: white">getVulns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewEDM"  style="color: white">View EDM</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                More tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logs/getLogsList">showHDR Log</a>
                    <a class="dropdown-item" href="/showE2ELog">showE2E Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/runRStatus">Celery job status</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                Data Validation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/runGeohazValid">Geohazard</a>
                    <a class="dropdown-item" href={{ url_for('mdv.vulnValidationRun') }}>Vulnerability</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">HazardCache</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/getGVStatus">Geohazard validation status</a>
                    <a class="dropdown-item" href="/getVVStatus">Vulnerability validation status</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link disabled" href="#" style="color: white">ModelCert</a>
            </li>
        </ul>

        {% if current_user.is_anonymous %}
            <a class="nav-link" href="{{ url_for('login') }}" style="color: white">Login</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('logout') }}" style="color: white">Logout</a>
        {% endif %}

    </div>
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>