{% extends "runRTemplate.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Job Status</h2>
            {% if tasks_ %}
                <table class="table table-sm">
                    <tr>
                        <th scope="row" class="bg-danger text-white">Job Id</th>
                        <th scope="row" class="bg-danger text-white">Color chosen</th>
                        <th scope="row" class="bg-danger text-white">Jub submission time</th>
                        <th scope="row" class="bg-danger text-white">Job status</th>
                    </tr>
                    {% for task in tasks_ %}
                        <tr>
                            <td>{{task[1]}}</td>
                            <td>{{task[2]}}</td>
                            <td>{{task[3]}}</td>
                            <td>{{task[0]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}