{% extends "runRTemplate.html" %}

{% block morehead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
</script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>E2E Log</h2>

            <p id="e2e"></p>
        </div>
    </div>
</div>

<script>
function getMyFN() {
<!-- gets a file name if provided-->
    var allLocs = window.location.href.match(/^.*\//).input.split('/');
    fN = allLocs[allLocs.length-1];
    if (fN === "showE2ELog") {
        return '';
    } else {
        return ("/" + fN);
    }
}

function update_values() {
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.getJSON($SCRIPT_ROOT+"/getE2ELog"+getMyFN(),
        function(data) {
        $('.e2eMore').remove();
        for (var i = 0; i < data.length; i++) {
            $('#e2e').before('<div class="e2eMore">' + data[i] + '</div>');
            }
        })
    }

var refreshId = setInterval(update_values, 5000);

</script>

{% endblock %}